@using SimpleCRM.Application.Common.Contracts.DTOs
@if (ViewBag.ValidationRS is not null)
{
    var validationRS = (ValidationRS)ViewBag.ValidationRS;
            
    <div class="alert alert-warning" role="alert">
        @foreach (var validation in validationRS.Validations!)
        {
            <label>@string.Concat(validation.Field, validation.Message)</label>
        }
    </div>    
}